public/
node_modules/
.vscode/
.git/
.DS_Store
.idea
.env
!src/frontend/public/
!src/frontend/.env
mockup.drawio
demo.gif
.env.template
config.properties
build/
photo-metadata-updater/
photo-metadata-updater.zip
build.sh
readme.txt
exiftool/
releases/*
!releases/build.sh
!releases/release-build-dir.zip
.env.bytesize